{% extends 'base.html' %}

{% block content %}
      <h3 class="text-uppercase text-danger">Category - {{categorys}}</h3>
      <main role="main" class="container p-0">
        <div class="row">
          <div class="col-md-8 blog-main">
            {% for post in posts%}
            <div class="blog-post">
              <h2 class="blog-post-title">{{post.title}}</h2>
              <p class="blog-post-meta">
                {{post.created_at}} by <a href="#">{{post.author}}</a>
              </p>

              <p>
                {{post.short_desc | truncatewords:10 }}
              </p>

              <p>
                {{post.blog_body | truncatewords:30 }}
              </p>
              <a href="">See more...</a>
            </div>
            {% endfor %}
            <!-- /.blog-post -->
          </div>
          <!-- /.blog-main -->

        
        </div>
        <!-- /.row -->
      </main>


{% endblock %}