{% extends "base.html" %}

{% block content %}
{% for post in posts%}
    <div class="blog-post">
    <h2 class="blog-post-title"><a href="{% url 'single_blog' post.slug %}">{{post.title}}</a></h2>
    <p class="blog-post-meta">
        {{post.created_at}} by <a href="#">{{post.author}}</a>
    </p>

    <p>
        {{post.short_desc | truncatewords:10 }}
    </p>

    <p>
        {{post.blog_body | truncatewords:30 }}
    </p>
    <a href="{% url 'single_blog' post.slug %}">See more...</a>
    </div>
{% endfor %}
{% endblock %}