{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column - nav-pills bg-light aria-orienntation='vertical'">
                <a href="{% url "dashboard" %}" class="nav-link text-dark {% if request.path == '/dashboard/' %}bg-warning{% endif %}">Dashboard</a>
                <a href="{% url "categories" %}" class="nav-link text-dark {% if  '/categories/' in request.path %}bg-warning{% endif %}">Categories</a>
                <a href="{% url "posts" %}" class="nav-link text-dark {% if  '/posts/' in request.path %}bg-warning{% endif %}">Post</a>
                <a href="{% url "pass_change" %}" class="nav-link text-dark">Chage Password </a>
            </div>
        </div>
        {% block dashboard%}
        {% endblock %}
    </div>

{% endblock %}